iframe {
  width: 100%;
  height: 525px;
}

.center-jumbotron {
  margin-left: 15%;
  width: 50%;
}

.navbar-inverse .navbar-brand {
  color: black;
  font-weight: bold;
}

.navbar-top {
  padding-left: 15%;
  padding-right: 15%;
  border-radius: 4px;
  background-color: rgb(51, 122, 183);
  color: #000;
}

.navbar-fixed-left {
  background-color: rgb(51, 122, 183);
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  color: #000;
  margin-top: -11px;
}

.container {
  margin-left: 160px;
  margin-top: 90px;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}


path.line {
    fill: none;
    stroke: #000000;
    stroke-width: 1;
}

path.candle {
    stroke: #000000;
}

path.candle.body {
    stroke-width: 0;
}

path.candle.up {
    fill: #00AA00;
    stroke: #00AA00;
}

path.candle.down {
    fill: #FF0000;
    stroke: #FF0000;
}

.y.annotation.left path {
    fill: #00AA00;
}

.y.annotation.right path {
    fill: #FF0000;
}

.x.annotation path {
    fill: #DDD80E;
}

.crosshair {
    cursor: crosshair;
}

.crosshair path.wire {
    stroke: #DDDDDD;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #DDDDDD;
}
